*{
    margin: 0;
    padding: 0;
}


html{
    scroll-behavior: smooth;
}

.header {
    z-index: 1000;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    top: 0;
    width: 100%;
    height: 50px;
    position: fixed;
}

.header:scro{
    background-color: white;
}


nav{
    display: flex;
    padding: 0px 20%;
    justify-content: space-between;
    align-items: center;
}

nav img {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    margin-top: 5px;
    transition: 0.8s;
}

nav img:hover{
    filter: invert(38%) sepia(54%) saturate(3860%) hue-rotate(250deg) brightness(95%) contrast(107%);
}

.navtext{
    color: #ffffff;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    transition: 0.8s;
}

.navtext:hover{
    color: #a447fa;
}

.navbar {
    flex: 0.3;
    text-align: center;
}

.navbar ul li{
    list-style: none;
    display: inline-block;
    padding: 4px 0px;
    position: relative;
}

.navbar ul li::after{
    content: '';
    width: 0px;
    height: 1px;
    background: #ffffff;
    display: block;
    position: relative;
    transition: 0.8s;
}

.navbar ul li:hover::after{
    width: 100%;
    background: #a447fa;
}

#razor1{
    height: 100%;
    width: 100%;
    margin-top: 0px;
    position: relative;
    z-index: 0;
    object-fit: cover;
    display: block;
}

.coloreffect{
    margin-top: 9.1%;
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0));
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.promotexts{
    margin: -6% 0%;
}

.promotext1{
    position: absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 250px 60px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    font-weight: 700;
    animation: opa 2.0s linear;
}

@keyframes opa{
    0%{
        opacity: 0;
    }
    70%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

.promotext2{
    position:absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 230px 60px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    animation: opa 2.0s linear;
}

.promotext3{
    position:absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 335px 60px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
    animation: opa 2.0s linear;
}

.promotext4{
    position:absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 450px 60px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    animation: opa 2.0s linear;
}

.promoimg1{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
    position:absolute;
    width: 80px;
    z-index: 2;
    margin: 600px 60px;
    animation: opa 2.0s linear;
}

.promoimg2{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(150%) contrast(102%);
    position:absolute;
    width: 220px;
    z-index: 2;
    margin: 597px 180px;
    animation: opa 2.0s linear;
}

.promoimg3{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(150%) contrast(102%);
    position:absolute;
    width: 80px;
    z-index: 2;
    margin: 600px 430px;
    animation: opa 2.0s linear;
}

.promoimg4{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(150%) contrast(102%);
    position:absolute;
    width: 80px;
    z-index: 2;
    margin: 600px 550px;
    animation: opa 2.0s linear;
}

.promoimg5{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(999%) contrast(102%);
    position:absolute;
    width: 90px;
    z-index: 2;
    margin: 600px 660px;
    animation: opa 2.0s linear;
}

.beneficios{
    margin: -5px 0px;
    background-color: #ffffff;
}

.beneficios h1{
    margin-top: 50px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 900;
    letter-spacing: 4px;
}

.beneficios h1 b{
    color: #8c39da;
}

.beneficiosrazor{
    margin: 2% 10% 1%;
    display: flex;
    justify-content: space-between;
    font-family: 'Poppins', sans-serif;
    text-align: center;
}

.ben-col{
    background-color: #c5c5c531;
    margin: 0px 20px 10px;
    padding: 30px 40px;
    border-radius: 20px;
    margin-bottom: 20px;
    color: #000000;
    transition: 0.7s;
}

.ben-col h3{
    text-align: center;
    font-weight: 900;
    margin-bottom: 7px;
}

.ben-col:hover{
    box-shadow: 0 0 20px 0px rgba(9, 9, 10, 0.5);

}

.works{
    margin-top: 100px;
}

#razor2 {
    width: 100%;
    height: 620px;
    object-fit: cover;
    display: block;
}

.coloreffect2{
    background: linear-gradient(to right, rgba(0,0,0,1), rgba(0,0,0,0.8), rgba(0,0,0,0));
    width: 100%;
    height: 620px;
    position: absolute;
    z-index: 1;
}

.info1-1{
    line-height: 1.1;
    position:absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 120px 60px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 400;
}

.info1-2{
    line-height: 1.1;
    position:absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 240px 50px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 70px;
    font-weight: 600;
}

.info1-2 img{
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(999%) contrast(102%);
    position:absolute;
    width:20%;
    z-index: 2;
    margin: -10px 20px;
    animation: altern 4.0s linear infinite;
}

@keyframes altern{
    0%{
        filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(999%) contrast(102%);
    }
    25%{
        filter: invert(58%) sepia(42%) saturate(7197%) hue-rotate(275deg) brightness(83%) contrast(82%);
    }
    50%{
        filter: invert(31%) sepia(82%) saturate(6887%) hue-rotate(285deg) brightness(91%) contrast(97%);
    }
    75%{
        filter: invert(67%) sepia(97%) saturate(4834%) hue-rotate(254deg) brightness(102%) contrast(101%);
    }
    100%{
        filter: invert(88%) sepia(68%) saturate(925%) hue-rotate(222deg) brightness(103%) contrast(105%);
    }
}

.info1-3{
    line-height: 1.1;
    position:absolute;
    width:80%;
    text-align: left;
    z-index: 2;
    margin: 340px 50px;
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 32px;
    font-weight: 600;
}

.promotionsbutton{
    background-color: #ffffff;
    display: inline-block;
    border-radius: 20px;
    height: 60px;
    position: absolute;
    width: 20%;
    z-index: 2;
    margin: -190px 130px;
}

.promotionsbutton p{
    color: #000000;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    text-align: center;
    font-size: 20px;
    transition: 0.2s;
}

.promotionsbutton:hover{
    color: #ffffff;
    background-color: #a447fa;
    animation: mouseonbutton 4.0s linear infinite;
}

@keyframes mouseonbutton{
    0%{
        background-color: #ffffff;
    }
    25%{
        background-color: #873eca;
    }
    50%{
        background-color: #c07cff;
    }
    75%{
        background-color: #fa5cff
    }
    100%{
        background-color: #d9b0ff
    }
}


.platimg{
    margin: 1% 34.1%;
}

.platimg1{
    position: absolute;
    z-index: 2;
    width: 4%;
}

.platimg2{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(0%) contrast(107%);
    position: absolute;
    z-index: 2;
    width: 12%;
    margin: -0.4% 6%;
}

.platimg3{
    position: absolute;
    z-index: 2;
    width: 3%;
    margin: 0.8% 19.5%;
}

.platimg4{
    position: absolute;
    z-index: 2;
    width: 3%;
    margin: 0.8% 24%;
}

.platimg5{
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(234deg) brightness(0%) contrast(107%);
    position: absolute;
    z-index: 2;
    width: 3.5%;
    margin: 0.8% 28%;
}

.platforms h1{
    margin-top: 30px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 30px;
}

.platforms{
    margin-bottom: 100px;
}

.graph-container{
    margin: 5.3% 20%;
}

.graph-container img{
    margin-top: 2%;
    width: 60%;
    position: absolute;
}


.referencia1{
    padding-top: 10%;
}


.computadores{
    width: 100%;
}

.invictos img{
    width: 100%
}

.invic-text img{
    margin: 3% 6%;
    width: 10%;
    filter: brightness(0%);
    position: absolute;
}

.invic-text h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 38px;
    position: absolute;
    margin: 6% 5.5%;
}

.invic-text p{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    position: absolute;
    margin: 15% 5.5%;
}

.invic-text h2{
    padding-right: 30%;
    line-height: 128%;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 15px;
    position: absolute;
    margin: 10% 5.5%;
}

.invic-text button{
    font-weight: 700;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    border-radius: 20px;
    position: absolute;
    background-color: none;
    padding: 0.8% 6%;
    display: block;
    color: #000000;
    margin: 23% 5.5%;
    transition: 0.7s;
}

    .invic-text button:hover{
        color: #ffffff;
        background-color: #000000;
        animation: bw1 2.0s linear infinite;
    }

    @keyframes bw1{
        0%{
            background-color: #000000
        }
        50%{
            background-color: #1e1e1e
        }
        100%{
            background-color: #0b0b0b
        }
    }


    .tha-text img{
        margin: 3% 80%;
        width: 10%;
        filter: brightness(100%);
        position: absolute;
    }
    
    .tha-text h1{
        float: left;
        width: 60%;
        text-align: right;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight: 700;
        font-size: 38px;
        position: absolute;
        margin: 6% 30%;
    }
    
    .tha-text p{
        text-align: right;
        width: 20%;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 14px;
        position: absolute;
        margin: 17% 70%;
    }
    
    .tha-text h2{
        width: 60%;
        text-align: right;
        color: #ffffff;
        line-height: 128%;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 15px;
        position: absolute;
        margin: 11% 30%;
    }
    
    .tha-text button{
        width: 23%;
        font-weight: 700;
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        border-radius: 20px;
        border: solid #ffffff;
        position: absolute;
        background-color: rgba(0,0,0,0);
        padding: 0.8% 6%;
        display: block;
        color: #ffffff;
        margin: 25% 67%;
        transition: 0.7s;
    }
    
        .tha-text button:hover{
            color: #000000;
            background-color: #ffffff;
            animation: bw2 2.0s linear infinite;
        }
    
        @keyframes bw2{
            0%{
                background-color: #ffffff
            }
            70%{
                background-color: #a4a4a4
            }
            100%{
                background-color: #dbdbdb
            }
        }

        .tha-text{
            margin: 0 3%;
        }

.referencia1{
    width: 100%;
    height: 100%;
    margin-top: 35%;
    background-color: #ffffff;
    padding: 2% 0 0;
}


.compras{
    margin-top: -0.3%;
    padding: 20% 10%;
    background-color: #000000;
}


.containercomp{
    margin-top: -20%;
}

.rowcomp{
    display: flex;
    flex-flow: row wrap;
    margin-top: 10%;
}

.inviccomp{
    margin-left: -11%;
    margin-top: -12%;
    position: absolute;
    height: 85.15%;
    width: 50%;
    background-color: #ffffff;
}


.inviccomp img{
    margin-top: -30%;
    margin-left: 35%;
    width: 65%;
}

.thacomp{
    margin-left: 40%;
    margin-top: -12%;
    position: absolute;
    height: 85.15%;
    width: 50%;
    background-color: #000000;
}

.thacomp img{
    width: 72%;
    margin-top: -42%;
    margin-left: -5%;
}
